.about_us {
  padding: 0.8rem 3rem;
  font-size: 0.9rem;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 600;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li:nth-child(3) {
    width: 15%;
  }
}

.animation {
  animation: flicker 0.7s ease-in infinite;
}

@media screen and (max-width: 1092px) {
  .about_us {
    > ul {
      > li:nth-child(2) {
        display: none;
      }
      li:nth-child(3) {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .about_us {
    padding: 0.8rem 1rem;
    > ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li:nth-child(3) {
        width: 50%;
      }
    }
  }
}

@keyframes flicker {
  0% {
    color: white;
  }
  50% {
    color: #ee6c4d;
  }
  100% {
    color: white;
  }
}
