.link {
  color: grey;
  padding-right: 0.4rem;
  margin-right: 0.4rem;
  border-right: 1px solid grey;
  font-size: 0.9rem;
  font-weight: bold;
}
.last {
  font-size: 0.9rem;
  font-weight: bold;
}
