.container {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  .inner {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      min-width: 220px;
      margin-right: 2rem;
    }
    .item:last-of-type {
      margin-right: 0;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .inner {
      .item {
        min-width: 40%;
      }
    }
  }
}
