.container {
  position: relative;
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  .title {
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    display: flex;
    align-items: center;
    span {
      margin-left: 4px;
      font-size: 0.7rem;
    }
  }
  &:hover,
  &:active {
    .title {
      color: #ee6c4d;
    }
    .content {
      bottom: -205px;
      opacity: 1;
      left: -200%;
      visibility: visible;
    }
  }

  .content {
    position: absolute;
    bottom: -250px;
    transition: all 0.2s;
    background-color: white;
    padding: 10px;
    opacity: 0;
    box-shadow: 0 0 10px #00000014;
    visibility: hidden;
    width: max-content;
    border-radius: 5px;
  }
}
