.container {
  padding: 1rem;
  border: 1px solid #ccc;

  > h1 {
    margin: 1rem auto;
    font-weight: bold;
  }
  .form_items {
    margin: 1rem 0;
  }
  .submit {
    color: white;
    background-color: #ee6c4d;
    border-radius: 4px;
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s;
    border: 2px solid #ee6c4d;

    &:hover {
      color: #ee6c4d;
      background-color: white;
    }
  }
}
@media (min-width: 768px) {
  .container {
    > h1 {
      margin: 1rem auto;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
