.container {
  display: flex;
  align-items: center;
  > span {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    > span {
      font-size: 1.5rem;
      margin: 0 0.3rem;
    }
  }
}
