.container {
  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    > div {
      padding-bottom: 1px;
      border-bottom: 1px solid #666;
      color: #666;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        border-bottom: 1px solid black;
        color: black;
      }
    }
  }
  .content {
    li {
      margin-top: 1rem;
    }
  }
}
