.container {
  padding: 1rem;
  font-size: 0.9rem;
  ul {
    padding: 1rem;
  }
  h2 {
    font-weight: bold;
  }
  li {
    list-style: disc;
    margin-bottom: 0.4rem;
    font-size: 0.85rem;
  }
}
