.container {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .display {
    display: flex;
    &_item {
      margin-right: 1rem;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #ee6c4d;
      }
    }
  }
}
.active {
  color: #ee6c4d;
}
