.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 2rem;
    margin: 3rem;
    font-weight: bold;
  }
  .search_box {
    width: 90%;
    max-width: 1000px;
  }
}
